admin/
cargo_logs/
osxcross/
osxcross
summaries/
target/
web/
b.sh
build.sh
Cargo.lock
install.sh
t.sh
.env
.buddy
.treat
.cargo 
.vscode
sdk/*
sdk
sdk/
sdk/**
sdk/**/*
sdk/**/**
sdk/**/**/*
sdk/**/**/**
sdk/**/**/**/*
sdk/**/**/**/**
sdk/**/**/**/**/*
sdk/**/**/**/**/**
sdk/**/**/**/**/**/*
sdk/**/**/**/**/**/**
sdk/**/**/**/**/**/**/*
sdk/**/**/**/**/**/**/**
sdk/**/**/**/**/**/**/**/*
sdk/**/**/**/**/**/**/**/**
sdk/**/**/**/**/**/**/**/**/*
sdk/**/**/**/**/**/**/**/**/**
sdk/**/**/**/**/**/**/**/**/**/*
sdk/**/**/**/**/**/**/**/**/**/**
sdk/**/**/**/**/**/**/**/**/**/**/*
logs/
.cargo/
.vscode/
*.sh
b.sh
build.sh 
edit.sh
*.rlib
*.rwasm
*.toml
.pytest_cache/
.pytest_cache
bindings/
bindings/**
bindings/**/*
bindings/**/**
bindings/**/**/*
bindings/**/**/**
bindings/**/**/**/*
bindings/**/**/**/**
bindings/**/**/**/**/*
bindings/**/**/**/**/**
bindings/**/**/**/**/**/*
admin
admin/
admin/**
admin/**/*
admin/**/**
admin/**/**/*
admin/**/**/**
admin/**/**/**/*
admin/**/**/**/**
admin/**/**/**/**/*
admin/**/**/**/**/**
admin/**/**/**/**/**/*